* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: 'Dosis', sans-serif;
	background-color: #ba53de;
}

.container {
	max-width: 42.5rem;
	background-color: #f469a9;
	margin: 10rem auto;
	border-radius: 10px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 2rem;
	position: relative;
}

header {
	text-align: center;
	padding-top: 2rem;
}

header a {
	position: absolute;
	top: 0.8rem;
	right: 1rem;
	color: rgba(0, 0, 0, 0.7);
	text-decoration: none;
	font-size: 1.4rem;
	font-weight: 500;
}

header h1 {
	color: white;
	font-weight: bold;
	font-size: 4.8rem;
}

header p {
	color: #f4fa9c;
	font-style: normal;
	font-weight: bold;
	font-size: 2.4rem;
}

.add-todo {
	margin-top: 2rem;
}

.round {
	border-radius: 10px;
	padding: 0.4rem;
	border: 1px solid rgba(0, 0, 0, 0.5);
}

.add-todo input {
	border-radius: 10px 0px 0px 10px;
	font-weight: 500;
}

.add-todo button {
	border-radius: 0px 10px 10px 0px;
	background: #88bef5;
	cursor: pointer;
	color: white;
}

hr {
	margin-top: 2rem;
	border: 1px solid #fff98dda;
}

.todo {
	display: flex;
	align-items: center;
	margin-top: 2rem;
	font-size: 1.3rem;
}

.todo__text {
	flex-grow: 1;
	font-weight: 500;
	background-color: #ffffff;
	border-radius: 10px 0px 0px 10px;
}

.delete {
	cursor: pointer;
	width: 4rem;
	text-align: center;
	border-radius: 0px 10px 10px 0px;
	background-color: #88bef5;
}
