* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: 'Dosis', sans-serif;
	background-color: #ba53de;
}

.container {
	max-width: 42.5rem;
	background-color: #f469a9;
	margin: 10rem auto;
	border-radius: 10px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 2rem;
	position: relative;
}

header {
	text-align: center;
	padding-top: 2rem;
}

header p:first-of-type {
	position: absolute;
	top: 0.8rem;
	right: 1rem;
	color: rgba(0, 0, 0, 0.7);
	text-decoration: none;
	font-size: 1.4rem;
	font-weight: 500;
	cursor: pointer;
}

header h1 {
	color: white;
	font-weight: bold;
	font-size: 4.8rem;
}

header p {
	color: #f4fa9c;
	font-style: normal;
	font-weight: bold;
	font-size: 2.4rem;
}

.add-todo {
	margin-top: 2rem;
	display: flex;
}

.round {
	border-radius: 10px;
	padding: 0.4rem;
	border: 1px solid rgba(0, 0, 0, 0.5);
	font-size: 1.3rem;
}

.add-todo input {
	border-radius: 10px 0px 0px 10px;
	font-weight: 500;
	font-size: 1.3rem;
}

.add-todo button {
	border-radius: 0px 10px 10px 0px;
	background-color: #88bef5;
	cursor: pointer;
	color: white;
}

hr {
	margin-top: 2rem;
	border: 1px solid #fff98dda;
}

.todo {
	display: flex;
	align-items: center;
	margin-top: 2rem;
}

.todo__text {
	flex-grow: 1;
	font-weight: 500;
	background-color: #ffffff;
	border-radius: 10px 0px 0px 10px;
}

.delete {
	cursor: pointer;
	width: 4rem;
	text-align: center;
	border-radius: 0px 10px 10px 0px;
	background-color: #88bef5;
}

select {
	margin-left: 1.5rem;
}

@media screen and (max-width: 370px) {
	.add-todo {
		flex-direction: column;
		align-items: center;
	}
	select {
		margin-top: 1rem;
		margin-left: 0;
	}
}

form {
	display: flex;
}

.error {
	margin-top: 1rem;
	font-size: 1.3rem;
}

@media screen and (max-width: 500px) {
	.container {
		margin: auto;
		border-radius: 0;
		box-shadow: none;
	}
	html {
		background-color: #f469a9;
	}
}

.red {
	background-color: #ff6c6c !important;
}

.green {
	background-color: #88f5a0 !important;
}

.blue {
	background-color: #88bef5 !important;
}
